body {
    /* Magic number of 130 = navbar.height + navbar.padding + navbar.border + 15 extra */
    padding-top: 130px;
    padding-bottom: 130px;

    background: linear-gradient(to bottom, #8fd19e, #0f3e1a) fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    border: 0px;
    border-bottom: 5px;
    border-color: grey;
    border-style: double;
    background: linear-gradient(to right, #E6E6FA, #E6E6EC, #DDA0DD) fixed;
}

.module {
    border: 2px;
    border-style: ridge;
    width: 100%;
    max-height: 200px;
    min-height: 54px;
}

.container {
    border-left: 2px;
    border-right: 2px;
    border-style: dashed;
    border-radius: 10px;
    /*background-color: #8fd19e;*/
    background: linear-gradient(to right, #8fd19e, #f2f2f2, #8fd19e) fixed;
}