<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="fragments/header :: header"></div>
<body>
<div class="container">

        <p>
        Welcome to <b>Bob's Lizard Shack!</b> Voted the number one shack dedicated to lizards in the state of Nebraska from 2003-2007, 2011, and 2014-2019.
        Our site sees more than 10 visitors a month who cannot get enough lizards, snakes, anoles, and chameleons.
        Do you love lizards? Do you want to be more involved with lizards?
        </p>
        <p>
            Would you like a personalized greeting? <a href="/greeting">CLICK HERE!</a>
        </p>
        <p>
            Would you like to enter your information into a form? <a href="/form">CLICK HERE!</a>
        </p>

</div>

</body>
</html>